$grey : #6C7B7B;
$digFontSize : 14px;
$operationFontSize : 12px;
$buttonLettersFontSize : 12px;
button {
  display: block;

}
.mainInputMiniFontSize{
  font-size: 15px;
}
.letterFontSize{
  font-size: $buttonLettersFontSize;

}
.operationFontSize{
  font-size: $operationFontSize;
}
.digitFontSize{
  font-size: $digFontSize;

}
.container {
  margin: 0 auto;
  width: max-content;
  padding: 10px 10px;
}
.memoryButton{
  background: #D4E0ED !important;
  &:hover{
    background: linear-gradient(#FFCE68,#FFFFDE) !important;
  }
  &:active{
    background: linear-gradient(#E2B15D,#E9E390) !important;
  }
}

.calculator {
  .calculator__frame {
    border-radius: 7px;
    border: 1px #000 solid;
    width: max-content;
    box-shadow: 6px 2px 19px -3px #000;
    padding: 0 5px 5px;
    background: #D3F4F4;
    .calculator__frame-control {
      display: flex;
      justify-content: space-between;
      .calculator__description {
        display: flex;
        padding: 4px 2px;
        .calculator__icon {
          margin-right: 7px;
        }
        .calculator__name {}
      }
      .calculator__controls {
        display: flex;
        height: max-content;
        .calculator__control-button{
          height: 19px;
          border-radius: 0;
          border: none;
        }
        .calculator__controls_minimize {
          width: 27px;
          background: linear-gradient(#CFEAEA 48%, #A9D7D7 53%);
          border-radius: 0 0 0 4px;
          border: 1px #455354 solid;
          border-top: none;
          border-right: none;
          &:hover{
            background: radial-gradient(51.1% 80.48% at 50% 110%, #30D7E4 47.48%, #2583C4 99.74%);
            box-shadow: 0 0 5px 3px #68CDF7;
          }

        }
        .calculator__controls_expand {
          width: 27px;
          background: linear-gradient(#CFEAEA 48%, #A9D7D7 53%);
          border: 1px #455354 solid;
          border-top: none;
          border-right: none;
        }
        .calculator__controls_close {
          width: 48px;
          background:linear-gradient(#DFB2A9 0%, #DB624F 50%, #C13C25 50%, #DAB3AC 100%);
          border-radius: 0 0 4px;
          border: 1px #7B2212 solid;
          border-top: none;
          &:hover{
            background:linear-gradient(#DFB2A9 0%, #DB624F 50%, #C13C25 50%, #DAB3AC 100%);
            box-shadow: 0 0 5px 3px #E47D62;
          }
        }
      }
    }
    .calculator__body {
      border: 1px #5E797A solid;
      border-radius: 2px;
      .calculator__control-panel{
        display: flex;
        background: linear-gradient(#F0F0F0 30%, #D4DBED 50%);
        border-bottom: 1px #B6BCCC solid;
      }
      .calculator__interface{
        background: #D9E4F1;
        border-radius: 1px;
        padding: 12px 11px 9px;;
        .calculator__buttons{

          .zeroButton{
            width: 100% !important;
          }
          .resultButton{
            height: 60px !important;
          }

          margin: 0 auto;
          .calculator__buttons-row{
            margin-bottom: 2px;
            .calculator__button-wrapper{
              .calculator__button{
                width: 33px;
                height: 28px;
                margin-right: 2px;
                border: 1px #8797AA  solid;
                border-radius: 2px;
                background: linear-gradient(#fff,#D5E0EE);
                &:hover{
                  border:1px #FFDB00 solid;
                  background: linear-gradient(#FFF4E9 0%, #FEE2C2 50%, #FFCF6A 50%, #FEE2C2 100%);
                }
                &:active{
                  border:1px #C29B29 solid;
                  background: linear-gradient(#F2EFAC 0%, #eed296 50%, #F5BB57 50%, #F2EFAC 100%);
                }
              }
            }

          }
        }

      }
    }
  }
}
.input-wrapper{
  position: relative;
  margin-bottom: 2px;
  .input_main{
    text-align: right;
    padding: 12px 3px 7px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px #6C7B7B solid;
    color: #000;
    height: 30px;
    width: 182px;
    margin: 0 auto;
    display: block;
    background: linear-gradient(#E6EFFB,#fff);
  }

  .input_sub{
    display: block;
    position: absolute;
    right: -1%;
    top: 8%;
    width: 96%;
    text-align: right;
    color: #000;
    font-size: 0.6em;
    border: none;
    background: #fff0;
  }
  .memoryIndicator-wrapper{
    width: max-content;
    position: absolute;
    left: 5%;
    top: 52%;
    display: none;
    .memoryIndicator{

    }

  }
}
.control-panel__button{
border: none;
  background: #0000;
}
.memoryIndicator_enable{
  display: block !important;
}